* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

input, button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 0.5em;
    margin: 0.5em;
    justify-content: center;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div#output {
    display: none;
    justify-content: center;
    border: 1px solid black;
    padding: 0.5em;
    margin: 9px;
    width: 200px;
    border-radius: 3%;
    font-weight: bold;
    background-color: white;
}

h1 {
    margin: 1em;
}